*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container{
    display: flex;
    width: 90vw;
}

.panel{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    height: 90vh;
    flex: 0.5;
    position: relative;
    border-radius: 50px;
    margin: 10px;
    transition: flex 1s ease-in;
}
.panel h3 {
    position: absolute;
    font-size: 3rem;
    color: rgb(223, 217, 217);
    bottom: 40px;
    left: 30px;
    opacity: 0;
    transition: opacity 0.6s ease-in 1s ;
}

.panel.active{
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
}
